<%
/**
 * Module Template: Forgot Password
 * @param object module
 */
%>

<div class="module" data-module="forgotPass">
    <div class="module-box">
        <% if ( module.title || module.subtitle ) { %>
        <header class="module-header">
            <% if ( module.title ) { %>
            <h2 class="title"><%= module.title; %></h2>
            <% } %>
            <% if ( module.subtitle ) { %>
            <p class="subtitle"><%= module.subtitle; %></p>
            <% } %>
        </header>
        <% } %>

        <div class="module-body">
            <form action="">
                <div class="form-field">
                    <input type="email" name="email" placeholder="Email address"/>
                </div>

                <div class="form-field captcha">
                    <div class="g-recaptcha" data-sitekey="<%= captcha.key %>"></div>
                </div>

                <div class="form-field hidden">
                    <input type="hidden" name="token" value="<%= token %>">
                </div>

                <div class="form-action">
                    <input type="submit" class="trigger button login" value="Send reset email"/>
                </div>
            </form>
        </div>
    </div>
</div>