<%
/**
 * Module Template: Login
 * @param object module
 */
%>

<div class="module" data-module="richText">
    <div class="module-box">
        <% if ( module.title || module.subtitle ) { %>
            <header class="module-header">
                <% if ( module.title ) { %>
                    <h2 class="title"><%= module.title; %></h2>
                <% } %>
                <% if ( module.subtitle ) { %>
                    <p class="subtitle"><%= module.subtitle; %></p>
                <% } %>
            </header>
        <% } %>

        <% if ( module.content ) { %>
            <div class="module-body">
                <div class="module-content">
                    <%- sanitize(module.content) %>
                </div>
            </div>
        <% } %>
    </div>
</div>